@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,88,400,116,-250,600,500,725&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #F0F1F2;
  font-family: 'Roboto Flex', sans-serif;
}
